sudo: false
language: php

cache:
    directories:
        - $HOME/.composer/cache

matrix:
  include:
    - php: 5.3
      dist: precise
    - php: 5.5
      env: PHPUNIT_VERSION='4.8.36'

php:
    - 5.4
    - 5.6
    - 7.0
    - 7.1
    - 7.2

install:
    - if [ "$PHPUNIT_VERSION" != "" ]; then composer require phpunit/phpunit:$PHPUNIT_VERSION --prefer-dist --no-interaction; fi;
    - if [ "$PHPUNIT_VERSION" == "" ]; then composer install --prefer-dist --no-interaction; fi;

before_script:
    - mkdir -p build/logs

script:
    - if [ "$PHPUNIT_VERSION" != "" ]; then vendor/bin/phpunit --coverage-clover build/logs/clover.xml; fi;
    - if [ "$PHPUNIT_VERSION" == "" ]; then phpunit --coverage-clover build/logs/clover.xml; fi;

after_success:
    - bash <(curl -s https://codecov.io/bash)

after_script:
    - wget https://scrutinizer-ci.com/ocular.phar -t 3
    - php ocular.phar code-coverage:upload --format=php-clover build/logs/clover.xml
