{
    "alias": "svn-buddy.phar",
    "chmod": "0755",
    "directories": ["migrations", "src", "bin"],
    "files": [
        "LICENSE"
    ],
    "finder": [
        {
            "name": "*.php",
            "exclude": [
                "docs",
                "tests",
                "*Test.php",
                "test",
                "Tests",
                "Test",
                "*.lock"
            ],
            "in": "vendor"
        }
    ],
    "blacklist": ["vendor/aik099/coding-standard"],
    "main": "bin/svn-buddy",
    "output": "svn-buddy.phar",
    "stub": true
}
