{
    "alias": "svn-buddy.phar",
    "chmod": "0755",
    "directories": ["migrations", "src", "bin"],
    "finder": [
        {
            "name": "*.php",
            "exclude": [
                "tests",
                "mockery",
				"hamcrest",
                "*Test.php",
                "test",
                "Tests",
                "Test",
                "*.lock"
            ],
            "in": "vendor"
        }
    ],
	"blacklist": ["vendor/aik099/coding-standard"],
    "main": "bin/svn-buddy",
    "git-version": "git-version",
    "output": "build/svn-buddy.phar",
    "stub": true
}
