<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true"
	displayDetailsOnTestsThatTriggerDeprecations="true">

	<testsuites>
		<testsuite name="default">
			<directory>tests</directory>
		</testsuite>
	</testsuites>

	<!--<logging>
		<log type="coverage-html" target="build/coverage" title="BankAccount"
			 charset="UTF-8" yui="true" highlight="true"
			 lowUpperBound="35" highLowerBound="70"/>
	</logging>-->

	<php>
		<server name="working_directory" value=".svn-buddy"/>
	</php>

	<source>
		<include>
			<directory>src</directory>
		</include>
	</source>
</phpunit>
